@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100%;
    padding-top: 19rem;
    background: var(--bg-color);
    color:var(--text-color)
}

/* header design */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background: var(--bg-color);
}
.header.sticky{
    background: var(--bg-color);
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
}
.navbar.active{
    left: 0;
    transition-delay: 0s;
}
.navbar .active-nav{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    border-top: 0rem solid rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
}
.navbar.active .active-nav{
    left: 0;
    transition-delay: .25s;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
}
.navbar.active a{
    transform: translateX(0);
    transition-delay: .25s;
}
.navbar a:hover,
.navbar a.active{
    color: red;
}
#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: block;
}
/* section */
.project-cont{
    margin-top: 15rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: var(--bg-color);
    border: .5rem solid var(--main-color);
}
.content h2{
    text-align: center;
    font-size: 4rem;
}
span{
    color: var(--main-color);
}
.content p{
    text-align: center;
    margin-top: 8rem;
    margin-left: 1rem;
    font-size: 2rem;
}
.btn-box{
    margin-top: 10%;
    margin-inline: 42%;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover{
    color: red;
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: orangered;
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover:before{
    width: 100%;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .8s;
}
.education-content .content:hover::before{
    width: 100%;
}

/* footer design */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text,
.footer-iconTop{
    position: relative;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .3s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .3s;
}
.footer-iconTop a:hover i{
    color: red;
}

@media (max-width:2337px){
    html,body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    body{
        padding-top: 25rem;
    }
}
@media (max-width:720px){
    .project-cont{
        margin-left: 0px;
    }
    .content p{
        font-size: 15px;
    }
}
@media (max-width:695px){
    body{
        padding-top: 30rem;
    }
    .project-cont{
        margin-left: 0px;
        height: 700px;
    }
    .content h2{
        font-size: 35px;
    }
    .content p{
        margin-left: -18px;
        padding: 40px;
        font-size: 19px;
    }
}
@media(max-width:640px){
    .project-cont{
        padding: 22px 2px;
    }
    .content h2{
        font-size: 30px;
    }
    .content p{
        font-size: 19px;
    }
}
@media(max-width:580px){
    .project-cont{
        margin-left: 0px;
        text-align: center;
        justify-content: center;
    }
    .content h2{
        font-size: 25px;
    }
    .content p{
        padding: 70px;
        font-size: 16px;
    }
}
@media(max-width:495px){
    .content h2{
        font-size: 18px;
    }
    .project-cont{
        margin-left: 0px;
        padding-left: 15px;
    }
    .content p{
        padding: 33px 90px;
    }
}
@media(max-width:425px){
    .content h2{
        font-size: 14px;
    }
    .project-cont{
        margin-left: 0px;
    }
    .content h2{
        font-size: 22px;
    }
    .content h2{
        font-size: 20px;
    }
    .content p{
        padding: 3px 140px;
    }
    .content a{
        margin-left: -22px;
    }
}
@media(max-width:404px){
    .content h2{
        font-size: 18px;
    }
    .footer{
        height: 100px;
        padding-top: 5px;
    }
    .footer-iconTop{
        margin-left: 130px;
    }
    .footer-text{
        position: absolute;
        margin-top: 75px;
    }
}
@media(max-width:315px){
    .content h2{
        font-size: 12px;
    }
    .project-cont{
        margin-left: 0px;
    }
    .content h2{
        font-size: 13px;
    }
    .content p{
        padding: 3px 150px;
    }
    .content a{
        margin-left: -28px;
    }
    .footer-text p{
        font-size: 13px;
    }
}
